---
---
//RESET
ul, ol {
    //padding: 0;
    //margin: 0;
    li {}
}

//VARIABLES
$header-height1: 170px;
$header-height2: 141px;
$header-height3: 212px;
$footer-height: 40px;
$wrap-outer-width: 960px;
$wrap-inner-width: 640px;
$wrap-min-width: 240px;
$color1: #ccc;
$color2: lightyellow;
$color3: #fafafa;
$colorBlack: #000;
$colorWhite: #fff;
$colorRed: red;
$fontSerif: "Sumana", serif;
$fontSans: "Open Sans", sans-serif;

//BASE
body {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    font-family: $fontSerif;
    min-width: $wrap-min-width;
}

header, footer {
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    background-color: $color1;
    padding: 10px;
    width: 100%;
    font-family: $fontSans;
    min-width: $wrap-min-width;
}

header {
    position: fixed;
    min-height: $header-height1;

    h1 {
        display: inline-block;
        margin-top: 0;
    }

    em {
        display: block;
        max-width: 65vw;
        margin: 0 auto;
    }
}

footer {
    position: fixed;
    bottom: 0;
    height: $footer-height;
}

main {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    padding-top: $header-height1;
    padding-bottom: $footer-height;
    width: 100%;
    max-width: $wrap-outer-width;
    min-width: $wrap-min-width;
    font-family: $fontSerif;
    line-height: 1em;
    font-size: 1em;
}

p {
    line-height: 1em;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: bold;
    display: block;
    font-family: $fontSans;
}

img {
    max-width: 100%;
}

.wrap {
    margin: 0 auto;
    max-width: $wrap-outer-width;
    position: relative;
    min-width: $wrap-min-width;
}

#site-logo {
    width: 80px;
    position: absolute;
    top: 0px;
    left: 70px;
}

article {
    margin: 0 auto;
    text-align: left;
    background-color: $color3;
    padding: 10px;
}

.byline {
    display: block;
    text-align: center;
}

a, a:focus, a:visited {
    color: $colorBlack;
    text-decoration: none;
    cursor: pointer;
}

button, button:focus {
    border: 1px solid $color1;
    background-color: $colorRed;
    color: $colorWhite;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.post-list {
    li {
        a {
            text-decoration: underline;
        }
    }
}

nav {
    padding: 10px;
    max-width: $wrap-inner-width;
    margin: 20px auto 0;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        text-transform: capitalize;

        li {
            flex: 1 1 0;
            position: relative;
            cursor: pointer;
            margin: 0 5px;

            &.selected {
                background-color: $color2;

                ul {
                    display: block;
                    position: absolute;
                    width: 50vw;
                    text-align: left;
                    background-color: $color2;
                    padding: 10px;

                    li {
                        display: block;
                        margin-bottom: 5px;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            ul {
                display: none;
            }
        }
    }
}

// PAGES
// PHOTO PAGE
.photo-list {
    margin: 0 auto;
    width: 70%;
    overflow: auto;

    li {
        margin: 5px auto;
    }
}

.photo-gallery {
    margin: 0 auto;
    text-align: center;
    overflow: auto;

    .photo-wrap {
        display: inline-block;
        max-width: 440px;

        img {
            max-width: 400px;
            min-height: 200px;
            max-height: 200px;
            display: inline-block;
            border: 1px solid black;
            margin: 5px auto;
        }
    }
}

// AUDIO PAGE
.audio-gallery {
    .byline {
        text-align: center;
    }
}

.audio-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;

    li {
        cursor: pointer;
        margin: 20px auto;
        max-width: 300px;

        .audio-title {
            text-align: left;
            padding-left: 30px;
        }
    }
}

audio {
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    body {
        min-width: 240px;
    }

    #site-logo {
        max-width: 60px;
        width: 15vw;
    }

    nav {
        margin-top: 10px;
        font-size: 1.25em;
        min-width: $wrap-min-width;

        ul {
            display: block;

            li {
                display: inline-block;
            }
        }
    }

    .photo-list {
        width: 100%;
    }

    .photo-gallery {
        .photo-wrap {
            max-width: 320px;

            img {
                max-width: 100%;
                min-height: 150px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #site-logo {
        left: 0px;
        max-width: 40px;
    }

    header {
        min-height: $header-height2;

        h1 {
            margin-bottom: 0;
        }

        em {
            display: none;
        }
    }

    nav {
        margin-top: 0;
    }
}

@media only screen and (max-width: 588px) {
    main {
        padding-top: $header-height2;
    }
}

@media only screen and (max-width: 520px) {
    main {
        // padding-top: $header-height3;
   
    }
}