<nav>
	<ul class="nav-list">
		{% for page in site.pages %}
			{%  if page.title %}
			<li class="nav-item" data-title="{{ page.title }}">
				<a href="{{ page.url }}" rel="page"> {{ page.title }}</a>
				{% if page.title == 'history' %}
					<ul class="nav-list">
						{% for post in site.posts %}
							<li class="nav-item">
								<a href="{{ post.url }}" rel="post">{{ post.title }}</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}
</ul>
</nav>